<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, intitial-scale=1.0" />
        <link rel="stylesheet" href="style.css" />
        <title>React</title>
    </head>
    <body>
        <div class="container">
            <h1>React</h1>
        <div class="welcome"></div>
    </div>

    <script
      src="https://unpkg.com/react@16/und/react.production.min.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/react-dom@16/und/react-dom.production.min.js"
      crossorigin
    ></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></
    script>
    </body>
</html>
